.trendingTopics {
  margin: 0;
  height: 19px;
  position: relative;
  font-size: inherit;
  line-height: 19px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.settingsIcon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.infos1,
.title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.infos1 {
  height: 39px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: normal;
}
.design {
  position: relative;
  letter-spacing: 1px;
  line-height: 19px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.threadsdesktop {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--text-color);
}
.kThreads,
.threadsdesktop {
  position: relative;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.topic,
.treanding {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.treanding {
  gap: var(--gap-base);
  font-size: var(--font-size-xs);
  color: var(--text-color-alt);
}
.seeMore {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 19px;
  font-weight: 500;
  color: var(--color-cornflowerblue);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.infos {
  width: 314px;
  height: 1229px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-29xl) var(--padding-29xl) var(--padding-29xl) 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--text-color);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .infos {
    display: none;
  }
}
