.avatarBigIcon {
  width: 64px;
  position: relative;
  height: 64px;
}
.maphum,
.namLe,
.threadsnet {
  position: relative;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.namLe {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.maphum,
.threadsnet {
  font-weight: 500;
}
.threadsnet {
  line-height: 10px;
}
.threadsnetWrapper {
  border-radius: var(--br-29xl);
  background-color: var(--background-alt);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-xs);
  font-size: var(--font-size-4xs);
  color: var(--text-color-alt);
}
.infos2,
.infos3 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.infos3 {
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-xs);
}
.infos2 {
  flex-direction: column;
  align-items: flex-start;
}
.fullStackDeveloper {
  margin: 0;
}
.fullStackDeveloperContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 19px;
  font-weight: 500;
}
.infos,
.infos1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.infos1 {
  align-self: stretch;
  padding: var(--padding-5xs) 0;
}
.infos {
  width: 198px;
}
.followers {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.respostasECurtidasChild {
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--text-color-alt);
  height: 2px;
}
.infos4,
.respostasECurtidas,
.userinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.respostasECurtidas {
  gap: var(--gap-9xs);
}
.infos4,
.userinfo {
  font-size: var(--font-size-smi);
  color: var(--text-color-alt);
}
.userinfo {
  width: 294px;
  height: 1214px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--text-color);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .userinfo {
    display: flex;
  }
}
@media screen and (max-width: 960px) {
  .userinfo {
    display: none;
  }
}
